<h1>show.html(song)</h1>
<p>translate this song to your own language and share with whole world</p>
<p>title: <%=@song.title %></p>
<p>korean lyrics: <%=@song.korean_lyrics %></p>
<p>romaja_lyrics: <%=@song.romaja_lyrics %></p>
<p>album id: <%=@song.album_id %></p>
----------------------------------------------------

